:root{
    --bg-primary: #18181b;
    --bg-secondary:#1b2952;
    --white:#fbfbfe;
    --orange:#f29400;
    --red:#F90716;
    --grey:#232323;
    --yellow:#f7d708;
    --black:#2C272E;
    --blue:#1da1f2;

}
/* =============ALL PAGES============ */
*{
    margin: 0px;
    padding: 0px;
}
body{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg-primary);
    color: var(--white);
}
a{
    color: var(--blue);
}
h1{
    font-weight: 800;
    font-size: 3rem;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    color: var(--grey2);
}
header li{
    display: inline-block;
    margin-right: .75rem;
}
header a{
    text-decoration-line: none;
}
footer{
    color: var(--grey2);
}
footer a:hover{
    text-decoration: underline !important;
}
footer #copyright{
    font-size: .8rem;
}
.title h1,h2{
    display: inline-block;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: var(--bg-secondary);
}
::-webkit-scrollbar-thumb{
    background: var(--blue);
}
.scroll-top-btn{
    padding: 0px;
    z-index: 99;
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 1.75rem;
    color: var(--blue);
    cursor: pointer;
}
.scroll-top-btn:hover{
    transform: scale(1.2);
    transition: transform .2s;
}
.scroll-top-btn:active{
    color: var(--bg-secondary);
}
::selection{
    color: var(--bg-primary);
    background-color: var(--white);
}
/* =============HOME PAGE============ */
.custom-btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--grey);
    border-radius: .75rem;
}
.custom-btn a i{
    color: var(--white);
    font-size: xx-large;
}
.custom-btn li{
    display: inline-block;
}
.custom-btn a:hover i{
    color: var(--blue);
}
#aboutImage img{
    width: 216px;
}
.resumeDiv{
    background-color: var(--bg-secondary);
    border-radius: .25rem;
    padding: 1rem;
}
.resumeDiv a:hover{
    text-decoration: underline !important;
    animation: pulsateR 2s ease-in-out;
}
@keyframes pulsateR{
    0%{
        box-shadow: 
        0 0 50px var(--bg-secondary);
    }
}
.aboutProjects{
    background-color: var(--grey);
    border-radius: .25rem;
    padding: .75rem 0rem;
}
.projectLink{
    background-color: var(--bg-primary);
    text-align: center;
    border-radius: .25rem;
    padding: .5rem 0rem;
}
.projectLink a{
    color: var(--white);
}
.projectLink a:hover{
    text-decoration: underline !important;
}

/* =============BLOG PAGE============ */
#blogTitle p a:hover{
    text-decoration: underline !important;
}
.post-btn li{
    margin-top: .5rem;
}
.post-btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    border-radius: .25rem;
    background-color: var(--bg-secondary);
    color: var(--blue);
    width: 100%
}
.post-btn a i{
    margin-right: .25rem;
    font-size:large;
}
.custom-btn a i{
    color: var(--white)
}
.post-btn li{
    display: inline-block;
}
.post-btn a:hover{
    animation: pulsateB 3s ease-in-out;
}
@keyframes pulsateB{
    0%{
        box-shadow: 
        0 0 25px var(--bg-secondary);
    }
}
#post-photos img{
    width: 100%;
}
#post-videos video{
    width: 100%;
}
.zoom{
    transition: transform .3s;
}
.zoom:hover {
    transition: transform .3s;
    transform: scale(1.02);
    animation: pulsateV 3s ease-in;
}
@keyframes pulsateV{
    0%{
        box-shadow: 
        0 0 25px var(--bg-secondary);
    }
}
.noneDisplay {
    display:none;
    
}


