@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root .light {
    --body: #fff;
    --navbar: #1a73e8;
    --backgrnd: #F9F6F7;
    --backgrnd2: #FEFBF6;
    --text: #e2e2e2;
    --text2: #524A4E;
    --title: #1a73e8;
    --border: #303030;
}

:root .dark {
    --body: #222;
    --navbar: #FF971D;
    --backgrnd: #222831;
    --backgrnd2: #393E46;
    --text: #524A4E;
    --text2: #e2e2e2;
    --title: #FF971D;
    --border: #303030;
}

* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    transition: 600ms all;
    background-color: var(--body);
}

body h1,
h2,
h3,
h4 {
    color: var(--title);
}

a {
    color: var(--title);
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

.hidden {
    display: none;
}

menu {
    background-color: var(--navbar);
}

/* Social Links */
.social ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social ul li:hover {
    opacity: 0.7;
}

.social ul li a {
    color: var(--text);
}

.social i {
    color: var(--title);
}

.social ul li {
    background: var(--text);
}

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--body);
    z-index: 99;
  }
  
  #loading-image {
    z-index: 100;
    width: 64px;
    height: auto;
    border: solid 1px var(--border);
    border-radius: 8px;
  }
#mainTitle {
    color: var(--title);
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/mainTitle.jpg);
}

#mainTitle div {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#personalPage {
    color: var(--text2);
    margin-right: auto;
    margin-left: auto;
}

#personalPage h2 {
    color: var(--title);
}

#aboutMe span {
    display: inline-block;
}

.button {
    background-color: var(--title);
    color: var(--text);
    text-decoration: none;
    display: inline-block;
}


footer {
    background-color: var(--backgrnd);
    color: var(--text);
}

#aboutMe {
    text-align: center;
    background-color: var(--backgrnd);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#profilePicture {
    background: var(--title);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#contact {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    flex-direction: column;
}

.form-container button {
    border: none;
}

.form-container h1 {
    color: var(--title);
}

.form-item input,
textarea,
h1 {
    display: inline-block;
}

textarea {
    resize: none;
}